@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #22262a;
  --primary: #00b8a9;
  --secondary: #2c3e50;
  --font-inter: "Inter", sans-serif;
  --font-ffShamel: "FF Shamel One Book", sans-serif;
  --marque-duration: 25s;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #050404;
    --font-inter: var(--font-inter), sans-serif;
  }
} */

body {
  /* background: var(--background); */
  background: "#000000";
  color: var(--foreground);
  font-family: var(--font-inter);
  /* border: 1px solid red; */
  overflow-x: hidden;
}

html[lang="ar"] body {
  font-family: var(--font-ffShamel), "Cairo", sans-serif;
}

/* Marquee Css  */
@keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(calc(-1 * var(--marquee-distance)), 0, 0);
  }
}

.marquee-track {
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: var(--marquee-duration, 30s);
  will-change: transform;
}

/* pause on hover */
.marquee-hover:hover .marquee-track {
  animation-play-state: paused;
}

@media (prefers-reduced-motion: reduce) {
  .marquee-track {
    animation: none;
    transform: none;
  }
}

/* @keyframes marquee {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

.marquee {
  overflow: hidden;
  width: 100%;
}

.marquee__track {
  display: flex;
  width: max-content;
  will-change: transform;
  animation: marquee 25s linear infinite;
}

.marquee__track > * {
  flex: 0 0 auto;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__track {
    animation: none;
    transform: none;
  }
} */

.split-line {
  display: block;
  line-height: inherit;
}
